################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Reader UI/bin/Debug
/Reader UI/obj/Debug
*.suo
